
/* basic */
html{
    font-size: 10px;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #EEEEED;
}

h1{
    font-size: 6.2rem;
    color: #050505;

    font-family: "RobotoSlab-Bold";
}

h2{
    font-size: 4.8rem;
    color: #050505;

    font-family: "RobotoSlab-Bold";
}

h3{
    font-size: 3.6rem;
    color: #050505;

    font-family: 'Lato-Regular';
}

h4{
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: 'Lato-Regular';
}

h5{
    font-size: 1.6rem;
    color: #050505;

    font-family: 'Lato-Regular';
}

h6{
    font-size: 1.4rem;
    color: #f2f2f2;
    padding-top: 20px;
    line-height: 2.1rem;

    font-family: 'Lato-Regular';
}

p{
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: "Lato-Regular";
}

.body{
    position: relative;
}


/* footer */
.black-footer{
    height: 360px;
    background-color: #050505;
    margin-top: 150px;
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.black-footer > h1{
    color: #fff;
    text-align: center;
    padding-top: 100px;
    
    font-family: 'klavika-medium';
    display:block;
}

.black-footer > a{
    width: 287px;
    height: 55px;
    font-size: 2.4rem;
    margin: 50px auto;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
    color: #fff;
    
    background: #987D50;
    border-radius: 10px;
    
    font-family: 'klavika-medium';
    display: block;
}

.black-footer > a:hover{
    background: #B1966A;
}

.footer{
    background-color: #999191;
    display: flex;
    position: relative;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 310px;
    /* border: 1px solid red; */
}

/* footer 左邊 */
.left-side{
    position: absolute;
    margin-top: 75px;
    margin-left: 110px;
    margin-bottom: 30px;
}

.left-side > h5{
    color: #f2f2f2;
    line-height: 42px;
}

/* .left-side > h5:nth-child(3){
    padding-top: 40px;
} */

.left-side > a{
    margin-right: 5px;
}

/* footer 中間 */
.logo-side{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-bottom{
}

/* footer 右邊 */
.right-side {
    display: flex;
    align-items: center; 
    position: absolute;
    right: 0;
    margin-top: 115px;
    margin-right: 110px;
    margin-bottom: 30px;
}
  
  .right-side ul {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 

    font-family: 'klavika-medium';
}
  
  .right-side ul li {
    display: flex;
    align-items: center; 
}
  .right-side ul li a {
    text-decoration: none;
    color: #f2f2f2;

    margin-right: 55px;
    line-height: 42px;
    font-size: 2rem;
}





















.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-area {
    position: fixed;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    z-index: 999;
    top: 0;

    font-family: 'klavika-medium';
}
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
 
.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
  
.site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navbar ul li a:hover {
    border-bottom: 1px solid #f6f6f6;
}
  /* navbar regular css end */





/* navbar regular css start */
.navbar-area {
    background: #050505;
    border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    border-bottom: 1px solid #f6f6f6;
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    margin-right: 10px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 1080px) {
    .container {
      max-width: 1080px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      margin-top: 32px;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      border-bottom: 1px solid #f6f6f6;
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */