@import url("reset.css");
@import url("fonts.css");
@import url("basic.css");


/* 贊助頁面 support*/

.support-banner{
    padding-top: 92px;
}

.support-banner img{
    width: 100%;

    display: block;
    object-fit: cover;
}

.support-text{
    padding: 105px 0 105px 0;
    max-width: 918px;
    margin: 0 auto;
    letter-spacing: 0.5px;
}


.support-way{
    background-color: #C9B28D;
    padding: 50px;
    display: flex;
    justify-content:center;
    box-sizing: border-box;
}

.one-off-support h2{
    margin-bottom: 20px;
    margin-left: -30px;
}

.support-way ul{
    list-style-image: url("../image/peanut-list-style.png");
}

.one-off-support li{
    
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: 'Lato-Regular';
}

.member-support{
    margin-left: 50px;
}

.member-support h2{
    margin-bottom: 20px;
    margin-left: -30px;
}

.member-support li{
    font-size: 2.4rem;
    color: #050505;
    line-height: 3.6rem;

    font-family: 'Lato-Regular';
}

.donation{
    background-image: url("../image/donation-bg.png");
    /* background-image: url("../image/donation-bg-1.png"); */
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    /* align-items: flex-end; */

    /* border: 1px solid red; */

    font-family: "RobotoSlab-Bold";
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: -150px;
}




.donation-1{
    box-sizing: border-box;
    max-width: 670px;
    height: 664px;
    background-color: rgba(217, 217, 217, 0.9);


    margin: 270px 100px 100px 100px;

    padding: 0 50px 50px 50px;

    
    /* border: 1px solid red; */
}

.btn-donation-1{
    width: 210px;
    height: 60px;
    margin-top: 80px;


    
    border: 1px solid #987D50;
    background-color: #987D50;
}

.btn-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.btn-donation-1:hover{
    background-color: #B1966A;
}

.btn-donation-1 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 


}


.btn-donation-2{
    width: 210px;
    height: 60px;
    margin-top: 80px;
    
    border: 1px solid #898989;
    background-color: #898989;
}



.btn-donation-2:hover{
    background-color: #B1966A;
}

.btn-donation-2 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.amount{
    margin-top: 50px;
}

.amount input[type="radio"]{
    width: 20px;
    height: 20px;
}
.amount label{
    margin-right: 20px;
}

.amount-1{
    margin-top: 20px;
}


.amount-1 input[type="radio"]{
    width: 20px;
    height: 20px;
}

.amount-1 input[type="text"]{
    width: 160px;
    height: 30px;
    font-size: 1.8rem;
}
.name{
    display: flex;
    justify-content:flex-start;
    margin-top: 30px;
    padding-left: 5px;
}

.name input[type="text"]{
    width: 160px;
    height: 30px;
    font-size: 1.8rem;
}

.first-name{
    margin-right: 30px;
}

.first-name label, .last-name label, .first-name input, .last-name input{
    display: block;
}

.cards{
    display: flex;
    margin-top: 30px;
}

.cards input[type="text"]{
    width: 160px;
    height: 30px;
    font-size: 1.8rem;
}

.DoE2{
    display: flex;
}
.DoE2 input[type="text"]{
    width: 70px;
}

.donation-1 .btn-ticket{
    
    margin-top: 50px;
}


/* .donation-page-1{
    max-width: 670px;
    height: 664px;
    background-color: #D9D9D9;
    background-color: rgba(217, 217, 217, 0.9);

    margin: 270px 10px 100px 10px
}




.btn-donation-1{
    width: 210px;
    height: 60px;
    margin-top: 80px;
    
    border: 1px solid #987D50;
    background-color: #987D50;
}

.btn-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.btn-donation-1:hover{
    background-color: #B1966A;
}

.btn-donation-1 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}




.btn-donation-2{
    width: 210px;
    height: 60px;
    margin-top: 80px;
    
    border: 1px solid #898989;
    background-color: #898989;
}



.btn-donation-2:hover{
    background-color: #B1966A;
}

.btn-donation-2 a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.8px;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoSlab-Bold";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.amount-donation {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;

    position: relative;
}

.row {
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    margin-bottom: 10px;
}

.donation-amount {
    display: flex;
    align-items: center;
}

.donation-amount input[type="radio"] {

    margin-right: 10px;
}

.donation-amount input[type="text"] {
    width: 160px;
    height: 30px;
    margin-left: 10px;

    font-size: 1.8rem;

}

.form-row{
    display: flex;
    justify-content:flex-start;
    gap: 60px;
    padding-top: 10px;
}

.form-row label{
    padding-right: 100px;
}

.form-row input[type="text"]{
    width: 230px;
    height: 40px;
    font-size: 1.8rem;
}


.form-card{
    padding-top: 30px;
}

.form-card label{
    padding-top: 20px;
    margin-right: 20px;
}


.name, .cards{
    display: flex;
    margin-top: 30px;
}

.name input[type="text"], .cards input[type="text"]{
    width: 150px;
    margin-right: 20px;
    height: 40px;
    font-size: 1.8rem;
}

.first-name label, .last-name label{
    display: block;
}

.DoE2{
    display: flex;
}

.DoE2 input[type="text"]{
    width: 65px;
}

.CCV input[type="text"]{
    width: 70px;
}


.amount-donation .btn-ticket{
    position: absolute;
    right: 80px;
    bottom: -110px;

} */


/* 
.form-container input[type="text"]{
    font-size: 1.8rem;
}

.form-card-2 input[type="text"]{
    width: 150px;
    height: 40px;
}

#card-numbers{
    margin-right: 30px;
}

#date-of-expiry, #date-of-expiry-2 {

    width: 60px; 
    height: 40px; 

}

#ccv{
    margin-left: 60px;
    width: 60px; 
    height: 40px; 
}


.amount-donation .btn-ticket{
    position: absolute;
    right: 80px;
    bottom: -110px;

}

 */



@media only screen and (max-width: 980px) {
    .support-text {
        padding: 30px;
        max-width: 918px;
        margin: 0 auto;
        letter-spacing: 0.5px;
    }

    h4{
        font-size: 2rem;
    }
    
    .support-way h2{
        font-size: 3.6rem;
    }

    .one-off-support li{
        font-size: 2rem;
    }

    .member-support li{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 880px){
    .cards{
        display: block;
    }

    .DoE{
        margin-top: 10px;
    }

    .CCV{
        margin-top: 10px;
    }

    .CCV input[type="text"]{
        margin-left: 56px;
        margin-bottom: 30px;
    }
    .donation-1 .btn-ticket{   

       margin: auto;
    }

    .donation-1{
        padding: 10px;
    }
}

@media only screen and (max-width: 550px){
    .donation-1 {
        margin-bottom: 150px;
    }

    
    .support-way {
        padding: 30px;
    }
    
    h4{
        font-size: 1.6rem;
    }
    
    .support-way h2{
        font-size: 2.6rem;
    }

    .one-off-support h2 {
        margin-left: 0px;
    }

    .donation-1{
        font-size: 1.6rem;
        padding: 20px;
        margin: 150px 10px 50px 10px;

    }

    .one-off-support li{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .member-support li{
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .btn-donation-1 {
        width: 150px;
    }

    .btn-donation-2 {
        width: 150px;
    }

    .CCV input[type="text"]{
        margin-left: 36px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 428px){
    
    .support-way h2{
        font-size: 2.4rem;
    }

    .one-off-support h2 {
        font-size: 2.4rem;
    }

    .donation-1 {
        padding: 0px;
    }

    .btn-donation-1 {
        width: 130px;
    }

    .btn-donation-2 {
        width: 130px;
    }

    div.cards{
        padding-left: 10px;
    }

    .donation-1 input[type="text"]{
        width: 145px;
    }

    .donation{
        background-image: url("../image/donation-bg-1.png");
    }
    
}